<div class="content-wrapper" *ngIf="loadedPostsLists && loadedPostsLists.length">
  <div appInViewport class="posts-list-wrapper" *ngFor="let singlePostList of loadedPostsLists"
       (inViewportChange)="$event && updatePageUrl(singlePostList.page)" @staggeredReveal>
    <div class="posts-list-anchor" *ngIf="singlePostList.page > 1"><span>Страница {{singlePostList.page}}</span></div>
    <app-single-post *ngFor="let post of singlePostList.posts; let last = last"
                     [class.mb-3]="!last" [post]="post"></app-single-post>
  </div>
</div>

<div class="onscroll-preloader" appInViewport
     (inViewportChange)="$event && preloadNewPage()"
     [inViewportOptions]="{rootMargin: '0% 0% 30% 0%'}">
  <div *ngIf="hasRemainingPosts">
    <button class="btn btn-primary" *ngIf="!isBusy" (click)="preloadNewPage()">Загрузить еще</button>
    <div class="spinner-border" role="status" *ngIf="isBusy"><span class="sr-only">Загрузка...</span></div>
  </div>

  <div *ngIf="!hasRemainingPosts">
    <div class="text-muted">Все посты загружены.</div>
  </div>
</div>
