//
// General Component Styles
//

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.posts-list-anchor {
  position:   relative;
  text-align: center;
  margin:     map_get($spacers, 3) * 2 0;

  &:after {
    content:    '';
    position:   absolute;
    display:    inline-block;
    left:       0;
    right:      0;
    top:        50%;
    transform:  translateY(-50%);
    border-top: 3px dashed $gray-200;
    z-index:    1;
  }

  span {
    text-transform:   uppercase;
    position:         relative;
    display:          inline-block;
    background-color: #fff;
    color:            $text-muted;
    padding:          0 map_get($spacers, 3);
    z-index:          2;
  }
}

.posts-list-wrapper:first-child .posts-list-anchor {
  margin-top: map_get($spacers, 2);
}


//
// Preloader
//

.onscroll-preloader {
  text-align: center;
  margin-top: map_get($spacers, 3) * 2;
}
