<div class="list-group">
  <a routerLink="/posts/all" routerLinkActive="active" #rla="routerLinkActive"
     class="list-group-item list-group-item-action">
    <span>Все категории</span>
    <span class="badge badge-secondary badge-pill"
          [class.badge-light]="rla.isActive">{{ totalPostCount }}</span>
  </a>

  <a [routerLink]="['posts', cat.id]" *ngFor="let cat of categories"
     routerLinkActive="active" #rla="routerLinkActive"
     class="list-group-item list-group-item-action">
    <span>{{ cat.title }}</span>
    <span class="badge badge-secondary badge-pill"
          [class.badge-light]="rla.isActive">{{ cat.postCount }}</span>
  </a>
</div>
