<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">
      <img src="assets/waving-hand-sign.png" height="43" alt="waving hand emoji" class="align-baseline"/>
      Привет!
    </h1>
    <p class="lead mt-4 mb-0">Это тестовое приложение, написанное на Angular с использованием Bootstrap.
      Оно умеет отображать посты, поддерживает разбивку по категориям, позволяет добавлять в избранное понравившиеся
      посты и реализует навигацию с сохранением состояния.</p>
  </div>
</div>

<div class="container my-5">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col col-xs-12 col-md-8">
      <router-outlet></router-outlet>
    </div>

    <div class="col col-xs-12 col-md-4 mb-4 mb-md-0">
      <div class="mb-3">
        <app-categories-list></app-categories-list>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Избранные посты</h5>
          <app-favorites-list></app-favorites-list>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container my-3">
  <div class="py-4 border-top clearfix">
    <p class="float-right"><a href="#" (click)="scrollUp($event)">Вернуться наверх</a></p>
    <p class="text-muted">© 2019 Назаркин Роман.</p>
  </div>
</footer>

<router-outlet name="modal"></router-outlet>
