<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4 d-flex flex-column">
      <app-lazy-load-image [imageSrc]="post.imageThumb" class="flex-grow-1"></app-lazy-load-image>
    </div>

    <div class="col-md-8 d-flex flex-column">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">
          <small class="text-muted">Категория: {{post.category.title}}</small>
        </p>
        <p class="card-text">{{post.body | excerpt:150}}</p>
        <div class="card-spacer mt-auto"></div>
        <div class="card-buttons">
          <button class="btn btn-sm btn-light" (click)="toggleFavorites()">
            <span *ngIf="isAddedToFavorites">Удалить из избранного</span>
            <span *ngIf="!isAddedToFavorites">Добавить в избранное</span>
          </button>
          <button class="btn btn-sm btn-primary" (click)="openPostModal()">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</div>
