//
// General Component Styles
//

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display: block;
}

.card-buttons {
  text-align: center;
  margin:     (-1 * map_get($spacers, 1)) (-1 * map_get($spacers, 2));

  > .btn {
    margin: map_get($spacers, 1) map_get($spacers, 2);
  }

  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
