<div class="modal-dialog modal-lg modal-dialog-centered" @modalReveal>
  <div class="modal-content" *ngIf="post">
    <div class="modal-header">
      <h5 class="modal-title">{{post.title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-lazy-load-image [imageSrc]="post.imageFull" style="height: 350px" class="mb-3"></app-lazy-load-image>
      <p>
        <small class="text-muted">Категория: {{post.category.title}}</small>
      </p>
      <p [innerHTML]="post.body"></p>
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Закрыть</button>
      <button class="btn btn-primary" (click)="toggleFavorites()">
        <span *ngIf="isAddedToFavorites">Удалить из избранного</span>
        <span *ngIf="!isAddedToFavorites">Добавить в избранное</span>
      </button>
    </div>
  </div>

  <div class="modal-content p-5 align-items-center" *ngIf="!post">
    <div class="spinner-border" role="status"><span class="sr-only">Загрузка...</span></div>
  </div>
</div>

<div class="modal-backdrop" (click)="closeModal()" @backdropReveal></div>
