//
// General Component Styles
//

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

:host {
  display:  block;
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  z-index:  $zindex-fixed;
}


.modal, .modal-backdrop {
  display: block;
}

.modal-dialog {
  position: relative;
  z-index:  $zindex-modal;
}

.modal-content {
  max-height: calc(100vh - 100px);
}

.modal-body {
  overflow: auto;
}

.modal-backdrop {
  background: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
}
