//
// General Component Styles
//

:host {
  display:        flex;
  flex-direction: column;
}

.image-wrap {
  position:   relative;
  min-height: 250px;
  flex:       1;

  > img {
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    z-index:    2;
    opacity:    0;
    object-fit: cover;
    transition: opacity 500ms ease;

    &.is-loaded {
      opacity: 1;
    }
  }

  > .preloader-wrap {
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate3d(-50%, -50%, 0);
    z-index:   1;
  }
}
