<div class="image-wrap" appInViewport (inViewportChange)="$event && startLoadingImage()"
     [inViewportOptions]="{threshold: 0.5}">
  <div class="preloader-wrap">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
  </div>
  <img [class.is-loaded]="isImageLoaded" (load)="isImageLoaded = true" #image/>
</div>
