<div *ngIf="favorites.length" @parentReveal>
  <p class="card-text text-muted mb-3">Ниже отображены посты, которые были отмечены как избранные.</p>

  <ul class="favorites-list">
    <li *ngFor="let post of favorites" class="favorites-list-item" @childReveal>
      <a href="#" (click)="openPostModal($event, post.id)" class="favorites-list-item-title">{{post.title}}</a>

      <button type="button" class="close" aria-label="Close" (click)="removeFromFavorites(post.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="!favorites.length" class="text-muted">Здесь будут отображаться избранные посты. Пока их нет.</div>
