//
// General Component Styles
//

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.favorites-list {
  list-style: none;
  padding:    0;
  margin:     0;
}

.favorites-list-item {
  display:         flex;
  width:           100%;
  justify-content: space-between;
  align-items:     center;

  .close {
    margin-left: map_get($spacers, 3);
    font-size:   20px;
  }
}

.favorites-list-item-title {
  display:       block;
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.favorites-list-item + .favorites-list-item {
  margin-top: map_get($spacers, 2);
}
